loguru
nltk
jsonlines
ftfy
sacrebleu
protobuf==3.20
pybind11
sentencepiece==0.1.99
numexpr
pytablewriter
sqlitedict==2.1.0
tenacity==8.3.0
timm
pycocoevalcap
evaluate
datasets
transformers-stream-generator
yt-dlp
zss
zstandard
wandb
tqdm-multiprocess
opencv-python-headless
black==24.1.0
isort==5.13.2
av
hf_transfer
openpyxl
pre-commit
pydantic
tiktoken
distro
jiter
rfc3986[idna2008]
joblib
threadpoolctl
sniffio
